<a href="https://colab.research.google.com/github/Amitkumar78347/Assignment-1/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Quetion 1)** Explain the key features of the python that make it a popular choice of programming.

**Answer 1)**

**Simplicity**: Python’s clean and readable syntax makes it easy for beginners to learn and understand.

**Versatility**: It supports multiple programming paradigms, including procedural, object-oriented, and functional programming.

**Extensive Libraries**: Python has a rich ecosystem of libraries and frameworks (e.g., NumPy, Pandas, Django) for various applications.

**Community Support:** A large and active community provides ample resources, tutorials, and forums.

**Interpreted Language:** Python code is executed line-by-line, which aids in debugging and rapid development.

**Cross-Platform**: Python runs on various operating systems without modification.

# **Question 2)** Describe the roll of predefined keywords in python and provide examples how they are used in program.

Answer 2) In Python, predefined keywords are reserved words that have specific meanings and roles within the language. They form the syntax and structure of Python code, and cannot be used as identifiers (e.g., variable names).
Examples:
False
None
True
and
as
assert
break
class
continue
def
del
elif



Here’s a list of few keywords along with their use in programe:


**False**
Represents the boolean value False.

In [ ]:
is_valid = False
if not is_valid:
    print("The value is not valid.")

The value is not valid.

**True**
Represents the boolean value True.

In [ ]:
is_valid = True
if is_valid:
    print("The value is valid.")

The value is valid.

**else**
Used in conditional statements to execute a block of code if none of the preceding conditions are true.

In [ ]:
x = 10
if x < 10:
    print("x is less than 10")
else:
    print("x is 10 or more")

x is 10 or more

**or**
Logical operator that returns True if at least one operand is True.

In [ ]:
a = True
b = False
if a or b:
    print("At least one condition is true.")

At least one condition is true.

# **Question 3**) Compare and contrast mutable and immutable objects in python with examples.

Answer 3)

**Mutable Objects:**

Mutable objects can be changed after they are created. This means you can modify the content of these objects without creating a new object.

**Examples
Mutable Objects:**


**Lists**: Can be modified by adding, removing, or changing elements.

**Dictionaries**: Can be modified by adding, removing, or changing key-value pairs.

**Sets**: Can be modified by adding or removing elements.




**Immutable Objects:**

Immutable objects cannot be changed after they are created. Any modification results in the creation of a new object rather than altering the existing one.



**Immutable Objects examples:**

**Strings:** Cannot be changed. Any modification creates a new string.

**Tuples:** Cannot be changed. Any operation that appears to modify a tuple creates a new tuple.

**Mutable Objects use:**

Useful when you need to change the object frequently. For example, lists are often used when the size or content needs to be updated dynamically.


**Immutable Objects use:**

Useful for fixed collections of data or when you need to ensure that data cannot be modified, which can be beneficial for data integrity and safety in concurrent programming.

**Mutable Object Example (List)**

In [ ]:
# Creating a list
my_list = [1, 2, 3]

# Modifying the list
my_list.append(4)  # List is changed in place

print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

**Immutable Object Example (String)**

In [ ]:
# Creating a string
my_string = "Hello"

# Modifying the string (creates a new string)
new_string = my_string.replace("H", "J")

print(new_string)  # Output: "Jello"

# Original string remains unchanged
print(my_string)  # Output: "Hello"

Jello
Hello

# **Question 4)** Discuss different type of operators in python and provide how they are used.

Answer 4)

In Python, **operators** are special symbols or keywords that perform operations on values or variables. Python supports a variety of operators categorized into different types. Here's a comprehensive overview of the different types of operators in Python, along with examples of how they are used:

1**. Arithmetic Operators**
Arithmetic operators are used to perform mathematical operations.

Addition (+): Adds two operands.

In [ ]:
a = 10
b = 5
result = a + b
print(result)  # Output: 15

15

Subtraction (-): Subtracts the second operand from the first.

Multiplication (*): Multiplies two operands.

Multiplication (*): Multiplies two operands.

Division (/): Divides the first operand by the second and returns a float.

In [ ]:
a = 10
b = 3
result = a / b
print(result)  # Output: 3.3333333333333335

3.3333333333333335

Floor Division (//): Divides the first operand by the second and returns the
integer part of the quotient.


Exponentiation (**): Raises the first operand to the power of the second operand.

Modulus (%): Returns the remainder of the division.

In [ ]:
a = 10
b = 3
result = a % b
print(result)  # Output: 1

1

**2. Comparison Operators**

Equal to (==): Checks if two values are equal.

Not equal to (!=): Checks if two values are not equal.

Greater than (>): Checks if the first value is greater than the second.

Less than (<): Checks if the first value is less than the second.

Greater than or equal to (>=): Checks if the first value is greater than or equal to the second.

In [ ]:
a = 10
b = 15
result = (a <= b)
print(result)  # Output: True

True

**3. Logical Operators**

Logical AND (and): Returns True if both operands are true.

Logical OR (or): Returns True if at least one of the operands is true.

Logical NOT (not): Returns True if the operand is false.

In [ ]:
a = True
result = not a
print(result)  # Output: False

False

**4. Assignment Operators**

Addition assignment (+=): Adds the right operand to the left operand and assigns the result to the left operand.

In [ ]:
a = 10
a += 5  # Equivalent to a = a + 5
print(a)  # Output: 15

15

**5. Bitwise Operators**

OR (|): Performs a bitwise OR operation.

In [ ]:
a = 10  # 1010 in binary
b = 4   # 0100 in binary
result = a | b
print(result)  # Output: 14 (1110 in binary)

14

AND (&): Performs a bitwise AND operation.

XOR (^): Performs a bitwise XOR operation.

Left Shift (<<): Shifts the bits of the first operand to the left by the number of positions specified by the second operand.

Right Shift (>>): Shifts the bits of the first operand to the right by the number of positions specified by the second operand.

In [ ]:
a = 10  # 1010 in binary
result = a >> 2
print(result)  # Output: 2 (0010 in binary)

2

**6. Identity Operators**

is: Returns True if both operands refer to the same object.

# **Question 5)** Explain the concept of type casting in python with examples.

Answer 5)  In Python, **type casting** (or type conversion) refers to the process of converting a value from one data type to another. This is a common operation when dealing with different types of data and ensures that values are in the appropriate type for a particular operation or function.


Python provides several built-in functions for type casting, each designed to convert between specific types. Here's a detailed explanation of type casting with examples:

** Integer Conversion (int())**

In [ ]:
# Convert float to integer
float_value = 3.14
int_value = int(float_value)
print(int_value)  # Output: 3

3

**Float Conversion (float())**

In [ ]:
# Convert integer to float
int_value = 10
float_value = float(int_value)
print(float_value)  # Output: 10.0

10.0

**String Conversion (str())**

In [ ]:
# Convert integer to string
int_value = 42
string_value = str(int_value)
print(string_value)  # Output: "42"

42

# **Question 6)** How do conditional statements work in python? Illustrate with example.

Answer 6)

**Conditional statements** in Python are used to execute different blocks of code based on certain conditions. These conditions are evaluated as True or False, and based on this evaluation, the appropriate code block is executed. The primary conditional statements in Python are  **if, elif, and else.**


1. if Statement
The if statement evaluates a condition (an expression that returns True or False). If the condition is True, the block of code inside the if statement is executed.

In [ ]:
age = 20

if age >= 18:
    print("You are an adult.")

You are an adult.

2. elif Statement

The elif (short for "else if") statement allows you to check multiple conditions. It follows an if statement and is only evaluated if the previous if (or elif) condition was False.

In [ ]:
temperature = 15

if temperature > 30:
    print("It's a hot day.")
elif temperature > 20:
    print("It's a warm day.")
else:
    print("It's a cold day.")

It's a cold day.

3. else Statement

The else statement provides a block of code that is executed if none of the preceding if or elif conditions are True.



4. Nested Conditional Statements

You can also nest if, elif, and else statements within each other. This allows for more complex decision-making.

In [ ]:
number = 15

if number > 0:
    if number % 2 == 0:
        print("The number is positive and even.")
    else:
        print("The number is positive and odd.")
else:
    print("The number is non-positive.")

The number is positive and odd.

# **Question 7)** Describe different type of loops in python and their use cases with examples.

Answer 7)

In Python, loops are used to execute a block of code repeatedly based on certain conditions. Python provides several types of loops, each suited for different scenarios. Here’s a detailed description of the different types of loops in Python, their use cases, and examples:


**1. for Loop**

Use Cases:

Iterating over items in a list or tuple.

Processing each character in a string.

Executing a block of code a specific number of times using range().

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

**2. while Loop**

Use Cases:

Repeatedly performing an action until a condition changes.

Implementing algorithms that require checking a condition each iteration.

In [ ]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4